.features-img-div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.features-img-div .img{
    width: 100%;
    height: 294px;
}
.after-features-img{
    background-color: black;
    width: 100%;
    height: auto;
    padding: 72px 29px;
    position: relative;
}
.after-features-img h1{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 3.33333px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.after-features-img p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: white;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-top: 16px;
}
.after-features-img img{
    position: absolute;
    top: 0;
}
.features-img-div .imgtab{
    display: none;
}
.features-img-div .imgdesk{
    display: none;
}
.after-features-img .rectangle{
display: none;
}
@media screen and (min-width:768px){
    .after-features-img .rect{
        display: none;
        }
    .after-features-img .rectangle{
            display: block;
            left: 0;
            top: 35%;
            
    }   
    .features-img-div .img{
        display: none;
    }
    .after-header-main-div{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }
    .features-img-div{
        width: 252px;
        display: flex;
        align-items: center;
    }
    .after-features-img{
        width: 495px;
        height: 490px;
        padding: 173px 105px 173px 54px;
    }
    .features-img-div .imgtab{
        display: inline-block;
        width: 252px;
        height: 490px;
        overflow: hidden;
    }
    .after-features-img h1{
        font-size: 40px;
        line-height: 48px 
    }
    .after-features-img p{
        font-size: 15px;
        line-height: 25px
    }
    
}

@media screen and (min-width:1440px){
    .features-img-div .imgtab{
        display: none;
    }
    .features-img-div .imgdesk{
        display: inline-block;
        width: 805px;
        height: 490px;
    }
    .features-img-div{
        width: 805px;
        display: flex;
        align-items: center;
    }
    .after-features-img{
        width: 610px;
        height: 490px;
        padding: 173px 112px ;
    }
}